
.git-card-profile{
    
    height: 334px;
    width: 1251px;
    background-color: var(--color-bg-card-git);
    margin-top: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left:  24px;

}

.git-card-profile-form{

    width: 870px;
    margin-left:35px;
    height: 247px;
    background-color: var(--color-bg-card-info);
    border: 1px solid var(--color-border-secundary);
    border-radius: 6px;
    margin-right: 38px;

}

.git-card-profile-form form {
    margin: 8px 14px 17px 14px;
}

.git-card-profile img {

    width: 247px;
    height: 247px;


}

.git-card-profile-title  {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-font-tertiary);
    margin-bottom: 19px;
}



.git-card-profile-values {
    font-weight: 0;

}

.git-card-profile-values{
    padding-left: 5px;
    font-weight: 0;
    font-size: 16px;
    color: var(--color-font-quartenary);
}

.git-card-profile-itens a {
    padding-left: 5px;
    font-size: 16px;
    color: blue;

}

.git-card-profile-itens p{
    
 font-weight: 700;   
}

.git-card-profile-itens {
    color: var(--color-font-quartenary);
    display:flex; 
    margin-bottom: 5px;
    padding: 8px 10px;
    font-size: 16px;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-border-secundary);


}
