
.git-card-profile{
    margin-top: 54px;
    height: 334px;
    width: 1251px;
    background-color: var(--color-bg-card-git);
    padding: 43px 35px 44px 38px;
    display: flex;
    align-items: center;

}

.git-card-profile-form{
    margin: 0 35px 0  29px;
    width: 902px;
    height: 247px;
    background-color: var(--color-bg-card-info);
    border: 1px solid var(--color-border-secundary);
    border-radius: 6px;

}

.git-card-profile-form form {
    margin: 8px 14px 17px 14px;
}

.git-card-profile img {

    width: 247px;
    height: 247px;

}

.git-card-profile-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-font-tertiary);
}

.git-card-profile-values{

}

.git-card-profile-itens p{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-border-quartenary);
}

.git-card-profile-itens {
    margin-bottom: 5px;
    font-size: 16px;
    width: 600px;
    height: 40px;
    font-weight: 700;
    border-radius: 4px;
    color: var(--color-border-quartenary);
    border: 1px solid var(--color-border-secundary);


}
